*{
	margin:0;
	padding: 0;
	list-style: none;
	
}
a{
	text-decoration: none;
}
h1{
	 width: 1400px;
	  height: 240px;
	  margin-right:30px;
	color: #73f;
	text-align: center;
	background: url(images/13.png) repeat-x;
}
/*首部--智能家居*/
span{
	margin-left: 450px;
}
.span1{
    margin-left: 140px;
}
img{
    height: 60px;
   width: 140px;
   float: left;
   
   
}

.one{
	
	width: 100%;
	height: 100%;
	background: url(images/26.jpg);
	
}
ul{
	width: 1350px;
	height: 34px;
	background-color:#344;
	
}
li{ 

	font-size: 24px;
	width: 140px;
	height: 34px;
	color: #000;
	background: url(images/tit_bg2.jpg) repeat-x;
	float: left;
	margin-left: 15px; 
	text-align: center;

}
.li{
	width: 230px;	
}
.li1{
	width: 180px;
}
/*登录*/
.lideng{
   background-color:#344;
	color:#999;


}
/*给你想要的智能家居*/
#zhi{
	background-color: #777;
}
/*注销*/
.li3{
	width: 100px;
	background-color:#640;
	color: #ff5;
	
}
/*鼠标经过效果*/
a:hover{
	color:#00f; 
}
/*访问后*/
a:visited{
	color:#222;
}
.li2,li{
	background: #88f;
	list-style: none;
	color: #555;
}
p{
	font-family: "微软雅黑";
	font-size: 21px;
	color: #666;
	margin:20px;
}
/*表单*/
form,input,select,textarea{
	margin:0;
	padding:0;
	list-style: none;
	border: none;
	background-color: transparent;
	color: #779
}
/*背景图片*/
.bei{
	width: 740px;
	height:480px;
	margin-bottom:100px;
	margin-left: 30px;

}
.biaodan{
	overflow: hidden;
	position: absolute;
	top: 300px;
	left: 30px;
	margin-bottom: 50px;


}
/*控制整体界面*/
#list{   
	width: 743px;
	margin:50px auto;
}
/*标题和内容*/
.centent{
	height: 418px;
	padding-top:35px;
	background: url(images/bg.jpg) no-repeat;
}
/*标题*/
.title{
	width: 739px;
	height: 30px;
	border-top: 2px dotted #83775e;
	border-bottom: 2px dotted #666;
	text-align: center;
	font-size: 18px;

}
/*内容*/
.txt{
	width: 739px;
	height: 300px;
	border-top: 2px dotted #83775e;
	margin-top: 10px;
	font-size: 24px;
}
/*分类和权限*/
.choose{
	height: 30px;
	padding: 12px 0 0 5px;
	background-color: #b6ac94;
	font-weight: bold;

}
/*下拉菜单*/
select{
	width: 80px;
	border: 1px solid #666;
	background-color: #f5f5f5;
}
/*第一个下拉菜单*/
.choose1{
	width: 100px;
	margin-right: 20px;
}
.btn{
	margin-top: 10px;

}
.btn1,.btn2,.btn3{
	width: 100px;
	height: 24px;
	background-color: #eee;
	border: 1px solid #ccc;
}
.btn1{
	background-color: #b6ac94;}

.btn3{
	margin-left: 425px;
}
/*版权*/
#banquan{
                height: 40px;
                line-height: 40px;
                position: fixed;
                bottom: 0;
                width: 100%;
                text-align: center;
                background: #333;
                color: #fff;
                font-family: Arial;
                font-size: 12px;
                letter-spacing: 1px;
            }
